body{
     background:linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)),url(2.jpg);
	 background-size: cover;
	 background-position: center;
}
.login-box{
	max-width: 700px;
	float: none;
	margin: 150px auto;
	margin-left: 150px auto;
}
.login-left{
	background: rgba(211, 211, 211, 0.5);
	padding: 50px;
	opacity: 0.3;
}
.login-left:hover{
	opacity:1.0;
	transition: 0.5s ease;
	transition-timing-function: linear;
}